<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      {{title}} - DsSync
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 42px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link href="css/main.css" rel="stylesheet">
    <style>
      
    </style>
  <script>
    DsSync = {};

    DsSync.checkAll = (function (form_name) {
      
      chkLength = document.forms[0].elements[form_name].length;
      
      
      for (i=0; i < chkLength; i++) {
        document.forms[0].elements[form_name][i].checked = true;
      }
    });

    DsSync.resetCheckAll = (function (form_name) {
      
      
      chkLength = document.forms[0].elements[form_name].length;
      
      //alert(chkLength);
      
      for (i=0; i < chkLength; i++) {
        document.forms[0].elements[form_name][i].checked = false;
      }
    });

  </script>
  </head>
  
  <body>
    <form action="{{self}}" name="dssyncform" method="post">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{self}}">
            {{title}} - DsSync
          </a>
          <div class="version_info">
            <p>{{dssync_version}}</p>
            <p>{{rsync_version}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
    <div class="btn-toolbar">
      <div class="btn-group">
        <input class="btn" type="submit" name="mode" value="reset" />
        {% if is_repoditory_defined %}
        <input type="submit" class="btn" name="mode" value="checkout" onclick="if(!confirm('レポジトリからソースを上書きします')){return false;}" />
        {% endif %}
        <input class="btn" type="submit" name="mode" value="check" />
        <input type="submit" class="btn" name="mode" value="sync" onclick="if(!confirm('シンクを実行します')){return false;}" />
      </div>
    </div>
    {% if messages or errors %}
    <div class="alert">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li class="message">{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if errors %}
        <ul class="errors">
          {% for error in errors %}
          <li class="error">{{error}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endif %}

      <div class="row">
        <div class="span4">
          <table class="table">
            <caption>シンクファイルリスト::</caption>
              {% if file_list.sync %}
              <tr>
                <th>
                  シンクリスト（チェックで除外）<br />
                  <input type="button" class="btn" onclick="DsSync.checkAll('exclude_file_list[]');" name="checkall" value="checkall" />
                  <input type="button" class="btn" onclick="DsSync.resetCheckAll('exclude_file_list[]');" name="resetall" value="resetall" id="resetall" />
                </th>
              </tr>
              {%for syncfile in file_list.sync %}
              <tr>
                {% if is_diff_enabled %}
                  <td>
                    <input class="checkbox" name="exclude_file_list[]" value="{{syncfile}}" type="checkbox"{% if dir.is_checked %} checked="checked"{% endif %} /><a href="{{diff_viewer}}?f1={{diff_from_prefix}}{{syncfile}}&f2={{diff_to_prefix}}{{syncfile}}" target="_blank" class="diff_check">{{syncfile}}</a>
                  </td>
                {% else %}
                <td><input name="exclude_file_list[]" value="{{syncfile}}" type="checkbox"{% if dir.is_checked %} checked="checked"{% endif %} /> {{syncfile}}</td>
                {% endif %}
              </tr>
              {% endfor %}
              {% endif %}

              {% if file_list.delete %}
              <tr>
                <th>削除リスト</th>
              </tr>
              {%for syncfile in file_list.delete %}
              <tr>
                <td>
                  <input name="exclude_file_list[]" value="{{syncfile}}" type="checkbox"{% if dir.is_checked %} checked="checked"{% endif %} />
                  <span class="diff_check">{{syncfile}}</span>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
          </table>

          
          <table class="table">
            <caption>シンク除外フォルダリスト::</caption>
            <tr>
              <th>フォルダ名</th>
            </tr>
            {%for dir in dir_list %}
            <tr>
              <td><input name="exclude_dir_list[]" value="{{dir.name}}" type="checkbox"{% if dir.is_checked %} checked="checked"{% endif %} /> {{dir.name}}</td>
            </tr>
            {% endfor %}
          </table>
          <table class="table">
            <caption>除外リスト::</caption>
            <tr>
              <th>configにより除外されたファイルリスト</th>
            </tr>
            {% for file in conf_exclude_file_list %}
            <tr>
              <td>{{file}}</td>
            </tr>
            {% endfor %}
            <tr>
              <th>チェックされた除外ファイルリスト</th>
            </tr>
            {% for file in posted_exclude_file_list %}
            <tr>
              <td>
              {{file}}
              <input type="hidden" name="exclude_file_list[]" value="{{file}}" />
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <!-- result list -->
        <div class="span8">
            {% for server in server_list %}
            <table class="table">
              <caption>シンク先サーバーリスト</caption>
              <tr>
                {% if server.is_local %}
                <th>サーバー::ローカル:{{server.path}}</th>
                {% else %}
                <th>サーバー::{{server.host}}:{{server.path}}</th>
                {% endif %}
              </tr>
              <tr>
                <td>
                  コマンド::<br />
                  <textarea class="span8" rows="3">{{server.sync_command}}</textarea>
                </td>
              </tr>
              <tr>
                <td>
                  レスポンス::<br />
                  <textarea class="span8" rows="10">{{server.response}}</textarea>
                </td>
              </tr>
            </table>
            {% endfor %}
        </div>
      </div>
    </div>
    </form>
    <div id="footer">
      <p>&copy Dassai Software</p>
    </div>
    <script src="js/vendor/bootstrap.js">
    </script>
  </body>

</html>