

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-inverse {
	color: #777777;
}

.navbar {
	background-color: #2B313B;
}

.navbar-inverse .navbar-inner {
	background: none;
	border: none;
}

.version_info {
	padding-top: 12px;
}

.version_info p {
	float:left;
	padding-left: 15px;
}


#footer {
	background-color: #A7A7A2;
	text-align: center;
	color: #454543;
	padding: 20px 0;
}
