---
title: "ProductionDeploy"
# rsyncコマンドを定義
rsync_cmd: rsync
# シンク元となるフォルダ、必ず/で終わるように
from_path: /home/eg/dssync/
# シンク除外フォルダリスト
exclude_dir_list:
 - tmp
# シンク除外ファイルリスト
exclude_file_list:
 - .svn
# ローカルへのシンクリスト
local_list:
 - path: /path/to/sync/
   rsync_options: '--recursive --update --compress --archive --verbose -c --delete'
# リモートへのシンクリスト
#remote_list:
# - host: user@hostname
#   path: /home/devel/
#   key_path: /past/to/keyfile
#   rsync_options: --recursive --update --compress --archive --verbose -c --delete
...